<div class="sidebar">
    <div class="sidebarWrapper">
        <ul class="sidebarList">
            <li class="sidebarListItem">
                <!-- <RssFeed class="sidebarIcon" /> -->
                <span class="sidebarListItemText">Feed</span>
            </li>
            <li class="sidebarListItem">
                <!-- <Chat class="sidebarIcon" /> -->
                <span class="sidebarListItemText">Chats</span>
            </li>
            <li class="sidebarListItem">
                <!-- <PlayCircleFilledOutlined class="sidebarIcon" /> -->
                <span class="sidebarListItemText">Videos</span>
            </li>
            <li class="sidebarListItem">
                <!-- <Group class="sidebarIcon" /> -->
                <span class="sidebarListItemText">Groups</span>
            </li>
            <li class="sidebarListItem">
                <!-- <Bookmark class="sidebarIcon" /> -->
                <span class="sidebarListItemText">Bookmarks</span>
            </li>
            <li class="sidebarListItem">
                <!-- <HelpOutline class="sidebarIcon" /> -->
                <span class="sidebarListItemText">Questions</span>
            </li>
            <li class="sidebarListItem">
                <!-- <WorkOutline class="sidebarIcon" /> -->
                <span class="sidebarListItemText">Jobs</span>
            </li>
            <li class="sidebarListItem">
                <!-- <Event class="sidebarIcon" /> -->
                <span class="sidebarListItemText">Events</span>
            </li>
            <li class="sidebarListItem">
                <!-- <School class="sidebarIcon" /> -->
                <span class="sidebarListItemText">Courses</span>
            </li>
        </ul>
        <button class="sidebarButton">Show More</button>
        <!-- <hr class="sidebarHr" /> -->
        <hr>
        <ul class="sidebarFriendList">
            <!-- {Users.map((u) => (
            <CloseFriend key={u.id} user={u} />
            ))} -->
        </ul>
    </div>
</div>