<form style="margin: 20px">
    <h3> You are about to reset the password</h3>
    <div class="form-group row">
        <label for="InputEmail1" class="col-sm-2 col-form-label">Enter your email address to get password resetting
            link</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp"
                placeholder="example@gmail.com">
        </div>
    </div>


    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>