<app-topbar></app-topbar>
<div class="profile">
    <app-sidebar></app-sidebar>
    <div class="profileRight">
        <div class="profileRightTop">
            <div class="profileCover">
                <img class="profileCoverImg" src="../../../assets/person/cover1.jpg" alt="" />
                <img class="profileUserImg" src="../../../assets/person/profile1.jpg" alt="" />
            </div>
            <div class="profileInfo">
                <h4 class="profileInfoName">Thilini Weerasinghe</h4>
                <span class="profileInfoDesc">..Love to help Others..</span>
            </div>
        </div>
        <div class="profileRightBottom">
            <!-- <Feed username=Thilini />
                
                    <Rightbar user=thilini /> -->
            <app-profile-rightbar></app-profile-rightbar>
        </div>
    </div>
    <!-- </div> -->
</div>