<form style="margin: 20px">
    <div class="form-group row">
        <label for="InputFirstName" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
            <input type="text" class=" form-control" id="InputFirstName" aria-describedby="firstName"
                placeholder="Enter First Name">
        </div>
    </div>
    <div class="form-group row">
        <label for="InputLastName" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="InputLastName" aria-describedby="lastName"
                placeholder="Enter Last Name">
        </div>
    </div>
    <div class="form-group row">
        <label for="InputEmail1" class="col-sm-2 col-form-label">Email address</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp"
                placeholder="example@gmail.com">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Confirm Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Re-enter the password">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputGender" class="col-sm-2 col-form-label">Gender</label>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="option1" checked>
                <label class="form-check-label" for="Radios1">
                    Male
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Radios" id="Radios2" value="option2">
                <label class="form-check-label" for="Radios2">
                    Female
                </label>
            </div>
            <div class="form-check disabled">
                <input class="form-check-input" type="radio" name="Radios" id="Radios3" value="option3">
                <label class="form-check-label" for="Radios3">
                    Custom
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="InputDOB" class="col-sm-2 col-form-label">Date of Birth</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="InputDOB" data-date-inline-picker="true" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>