<div class="topbarContainer">
    <div class="topbarLeft">
        <!-- <Link to="/" style={{ textDecoration: "none" }}> -->
        <span class="logo">AskIt</span>
        <!-- </Link> -->
    </div>
    <div class="topbarCenter">
        <div class="searchbar">

            <mat-icon>search</mat-icon>
            <input placeholder="Search for friend, post or video" class="searchInput" />
        </div>
    </div>
    <div class="topbarRight">
        <div class="topbarLinks">
            <span class="topbarLink">Homepage</span>
            <span class="topbarLink">Timeline</span>
        </div>
        <div class="topbarIcons">
            <div class="topbarIconItem">
                <mat-icon>person</mat-icon>
                <span class="topbarIconBadge">1</span>
            </div>
            <div class="topbarIconItem">
                <mat-icon> chat</mat-icon>
                <span class="topbarIconBadge">2</span>
            </div>
            <div class="topbarIconItem">
                <mat-icon>notifications</mat-icon>
                <span class="topbarIconBadge">1</span>
            </div>
        </div>
        <!-- <Link to={`/profile/${user.username}`}> -->
        <!-- <img src={ user.profilePicture ? PF + user.profilePicture : PF + "person/noAvatar.png" } alt=""
            className="topbarImg" /> -->
        <!-- </Link> -->
    </div>
</div>